.color-link{
    color: #fd8900;
    text-decoration: underline;
}
.color-text{
    color: #fd8900;
}
.countdown-submit{
    border-radius: 5px;
    margin-left: -120px;
    height: 35px;
    width: 120px;
    background-color: #fd8900;
    color: white;
    border: 0;
    -webkit-appearance: none;
}
.btn-color{
    background-color: #fd8900;
    color: #fff;
}
.btn-color:hover{
    color: #666 !important;
}
.about-card h2 span{ 
    border-bottom: 3px solid #fd8900;
}
.btn-white {
    background-color: #fff;
    color: #111;
    border: 1px solid rgba(102, 102, 102, 0.3) !important;
    border-radius: 5px;
}
.btn-white:hover{
    color: #666 !important;
}
#footer{
    padding: 50px;
    background-color: #151515;
    color: #FFF;
}
.countdown-input{
  padding-left: 10px;
  padding-right: 120px;
  height: 35px;
  border: none;
  background-color: #eee;
  color: #000;
  width: 100%;
  border-radius: 5px;
}
.supply-component p {
  color: #666;
}
#pre-sale h4{
  padding-top: 30px;
  font-weight: bold;
  color: #666;
}
.about-background{
  background-color: rgba(221, 221, 221, 0.2);
}

.btn-selector.active{
    background-color: #fd8900;
    color: #fff;
    box-shadow: none;
}
.btn-selector.active:hover{
    color: #fff;
}
.btn-selector{
    background-color: #666;
    color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 1px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}
.btn-selector:hover{
    background-color: rgba(253, 137, 0, 0.75) !important;
    color: #fff;
}
.warning-text{
    padding: 10px 10px 10px 20px;
    color: #fff;
    background-color: rgba(254, 46, 46, 0.85);
    border-radius: 5px;
}