.color-link{
    color: #fd8900;
    text-decoration: underline;
}
.color-text{
    color: #fd8900;
}
.countdown-submit{
    border-radius: 5px;
    margin-left: -120px;
    height: 35px;
    width: 120px;
    background-color: #fd8900;
    color: white;
    border: 0;
    -webkit-appearance: none;
}
.btn-color{
    background-color: #fd8900;
    color: #fff;
}
.btn-color:hover{
    color: #666 !important;
}

.btn-register{
    padding: 10px 140px;
    font-size: 30px;
    border-radius: 5px;
    color: #fff;
    background: #ea993e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #ebb063, #ea993e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ebb063, #ea993e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ebb063, #ea993e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ebb063, #ea993e); /* Standard syntax */
}
.btn-register:hover {
    color: #fff;
    background: #fd8900; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #ebb063, #fd8900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ebb063, #fd8900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ebb063, #fd8900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ebb063, #fd8900); /* Standard syntax */    
}
.btn-register-sm{
    z-index: 150;
    cursor: pointer;
    padding: 10px 80px;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    background: #ea993e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #ebb063, #ea993e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ebb063, #ea993e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ebb063, #ea993e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ebb063, #ea993e); /* Standard syntax */
	box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.btn-register-sm:hover{
    color: #fff;
    background: #fd8900; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #ebb063, #fd8900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ebb063, #fd8900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ebb063, #fd8900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ebb063, #fd8900); /* Standard syntax */    
}

.btn-white {
    background-color: #fff;
    color: #111;
    border: 1px solid rgba(102, 102, 102, 0.3) !important;
    border-radius: 5px;
}
.btn-white:hover{
    color: #666 !important;
}
.btn-white-1 {
    background-color: #fff;
    color: #ea993e;
    border: 1px solid rgba(102, 102, 102, 0.3) !important;
    border-radius: 5px;
    padding: 20px 100px;
    margin-bottom: 20px;
}
.btn-white-1:hover{
    color: #666 !important;
}
.btn-landing {
    background-color: #fff;
    width: 300px;
    font-size: 25px;
    color: #111;
    border: 1px solid rgba(102, 102, 102, 0.3) !important;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-landing:hover{
    color: #666 !important;
}
.btn-contribute {
    background-color: #fff;
    width: 300px;
    font-size: 25px;
    color: #111;
    border: 1px solid rgba(102, 102, 102, 0.3) !important;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 30px;
}
.btn-contribute:hover{
    color: #666 !important;
}
#footer{
    background-color: #151515;
    color: #FFF;
    padding-bottom: 60px;
}
#footer .container{
    padding: 50px;
}
.countdown-input{
  padding-left: 10px;
  padding-right: 120px;
  height: 35px;
  border: none;
  background-color: #eee;
  color: #000;
  width: 100%;
  border-radius: 5px;
}
.supply-component p {
  color: #666;
}
.about-background{
  background-color: rgba(221, 221, 221, 0.2);
}

.btn-selector.active{
    background-color: #fd8900;
    color: #fff;
    box-shadow: none;
}
.btn-selector.active:hover{
    color: #fff;
}
.btn-selector{
    background-color: #666;
    color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 1px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}
.btn-selector:hover{
    background-color: rgba(253, 137, 0, 0.75) !important;
    color: #fff;
}
.warning-text{
    padding: 10px 10px 10px 20px;
    color: #fff;
    background-color: rgba(254, 46, 46, 0.85);
    border-radius: 5px;
}
.footer-social i{
    font-size: 30px;
    color: #fff;
}
.footer-social i:hover{
    font-size: 30px;
    color: #FF9720;
}
.landing-social i{
    font-size: 30px;
    color: #333;
}
.landing-social i:hover{
    font-size: 30px;
    color: #FF9720;
}
.whitepaper-background{
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    background: #ea993e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #ebb063, #ea993e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ebb063, #ea993e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ebb063, #ea993e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ebb063, #ea993e); /* Standard syntax */
}
.whitepaper-link{
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: #fff;
}
.whitepaper-link:hover{
    display: block;
    color: #ccc;
}
.whitepaper-link span{
    border-bottom: 1px solid #fff;
}
.sub-header span{ 
    border-bottom: 3px solid #fd8900;
}
@media (max-width: 700px){
    .btn-white-1 {
        padding: 20px 20px;
    }
}