.color-link{
    color: #fd8900;
    text-decoration: underline;
}
.color-text{
    color: #fd8900;
}
.countdown-submit{
    border-radius: 5px;
    margin-left: -120px;
    height: 35px;
    width: 120px;
    background-color: #fd8900;
    color: white;
    border: 0;
    -webkit-appearance: none;
}
.btn-color{
    background-color: #fd8900;
    color: #fff;
}
.btn-color:hover{
    color: #666 !important;
}

.btn-register-sm{
    padding: 10px 50px;
    z-index: 150;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    background-image: url('../img/Leverj-Register-Button-Web-Top-Right.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-register-sm:hover{
    background-image: url('../img/Leverj-Register-Button-Web-Top-Right.png');
    background-size: cover;
    color: #eee;
}


.btn-register-landing{
    padding: 20px 90px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background-image: url('../img/Leverj-Register-Button-Web-Main-CTA.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-register-landing:hover {
    color: #eee;
    background-image: url('../img/Leverj-Register-Button-Web-Main-CTA.png');
    background-size: cover;
}

.btn-register-next{
    padding: 10px 90px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    background-image: url('../img/Leverj-Next-Button-Web.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-register-next:hover{
    color: #eee;
    background-image: url('../img/Leverj-Next-Button-Web.png');
    background-size: cover;
}


.btn-register-complete{
    padding: 10px 30px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    background-image: url('../img/Leverj-Next-Button-Web.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-register-complete:hover{
    color: #eee;
    background-image: url('../img/Leverj-Next-Button-Web.png');
    background-size: cover;
}
.btn-white {
    background-color: #fff;
    color: #111;
    border: 1px solid rgba(102, 102, 102, 0.3) !important;
    border-radius: 5px;
}
.btn-white:hover{
    color: #666 !important;
}
.btn-white-1 {
    background-color: #fff;
    color: #ea993e;
    border: 1px solid rgba(102, 102, 102, 0.3) !important;
    border-radius: 5px;
    padding: 20px 100px;
    margin-bottom: 20px;
}
.btn-white-1:hover{
    color: #666 !important;
}
.btn-landing {
    background-color: #fff;
    width: 300px;
    font-size: 25px;
    color: #111;
    border: 1px solid rgba(102, 102, 102, 0.3) !important;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-landing:hover{
    color: #666 !important;
}
.btn-contribute {
    background-color: #fff;
    width: 300px;
    font-size: 25px;
    color: #111;
    border: 1px solid rgba(102, 102, 102, 0.3) !important;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 30px;
}
.btn-contribute:hover{
    color: #666 !important;
}
#footer{
    background-color: #4A4A4A;
    color: #FFF;
}
#footer .container{
    padding: 50px;
}
.countdown-input{
  padding-left: 10px;
  padding-right: 120px;
  height: 35px;
  border: none;
  background-color: #eee;
  color: #000;
  width: 100%;
  border-radius: 5px;
}
.supply-component p {
  color: #666;
}
.about-background{
  background-color: rgba(221, 221, 221, 0.2);
}

.btn-selector.active{
    background-color: #fd8900;
    color: #fff;
    box-shadow: none;
}
.btn-selector.active:hover{
    color: #fff;
}
.btn-selector{
    background-color: #666;
    color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 1px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}
.btn-selector:hover{
    background-color: rgba(253, 137, 0, 0.75) !important;
    color: #fff;
}
.warning-text{
    padding: 10px 10px 10px 20px;
    color: #fff;
    background-color: rgba(254, 46, 46, 0.85);
    border-radius: 5px;
}

.info-text{
    padding: 10px 10px 10px 20px;
    color: #fff;
    background-color: rgba(18, 230, 3, 0.85);
    border-radius: 5px;
}

.footer-social i{
    font-size: 30px;
    color: #fff;
}
.footer-social i:hover{
    font-size: 30px;
    color: #FF9720;
}
.landing-social i{
    font-size: 50px;
    color: #333;
}
.landing-social i:hover{
    color: #fd8900;
}
.landing-social-stuck i{
    font-size: 50px;
    color: #333;
}
.landing-social-stuck i:hover{
    color: #fd8900;
}
.whitepaper-link{
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: #fff;
}
.whitepaper-link:hover{
    display: block;
    color: #ccc;
}
.whitepaper-link span{
    border-bottom: 1px solid #fff;
}
.sub-header span, .sub-header-large span{ 
    border-bottom: 3px solid #fd8900;
}
.lh-1{
  margin-top: 0px;
  font-size: 55px;
  padding-top: 20vh;
  line-height: 70px;
  color: #fd8900;
  font-weight: bold;
}
.modal-header{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: none;
}
.close{
    opacity: 1;
}
.close span{
    font-size: 50px;
    font-weight: bold;
    color: #fd8900;
}
@media (max-width: 700px){
    .btn-white-1 {
        padding: 20px 20px;
    }
}
@media (max-width: 768px){
    .lh-1{
        padding-top: 100px;
        font-size: 25px;
        line-height: 30px;
    }
    .btn-register-landing{
        padding: 15px 5px;
        font-size: 14px;
    }
    .btn-landing {
        font-size: 12px;
        padding: 5px 5px;
        width: auto;
        margin: 5px;
    }
    .about-background{
      background-color: #fff;
    }
    
}