body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.supply-component h3 {
  margin-bottom: 5px;
  font-weight: bold;
}
.supply-component h3 span {
  font-size: 16px;
}
.about-list{
  margin-top: 80px;
  padding-left: 20px;
  margin-left: 40px;
  border-left: 3px solid #222;
}
.about-list li{
  padding-top: 15px;
  list-style: none;
}
.about-list a{
  color: #555;
  font-size: 18px;
  line-height: 30px;
}
.about-list a:hover{
  color: #111;
  text-decoration: none;
}
.is-current a{
  font-size: 20px;
  font-weight: bold;
  color: #222;
}
.nav-circle{
  margin-left: -29px;
  padding-right: 20px;
  display: none;
}
.is-current .nav-circle{
  display: inline-block;
}
#contactFormRegister{
  padding: 30px;
}
#contactFormRegister input[type="submit"]{
  margin-top: 30px
}
#contactFormRegister input[type="text"]{
  width: 100%;
  margin: 10px 0px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#contactFormRegister label p {
  display: inline;
  text-align: left;
  padding-left: 20px;
}
#contactFormRegister input[type="checkbox"]{
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  top: 5px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
#contactFormRegister input[type="checkbox"]:active, #contactFormRegister input[type="checkbox"]:active:checked  {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
#contactFormRegister input[type="checkbox"]:checked  {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
#contactFormRegister input[type="checkbox"]:checked:after  {
	content: '\2713';
	font-size: 18px;
	position: absolute;
	top: -1px;
	left: 2px;
	color: #555;
}
.involved img{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
#about-nav{
  top: 30px;
}
#whitepaper a{
  font-size: 20px;
}
.modal-p{
  font-size: 30px;
  padding: 10px 30px;
}
.nav-logo{
  width: 40px;
  top: 20px;
  left: 20px;
  position: absolute;
}
.nav-header{
  position: absolute;
  top: 22px;
  left: 40px;
  font-size: 50px;
  font-weight: bold;
}
.nav-header-stuck{
  position: absolute;
  top: 22px;
  left: 40px;
  font-size: 30px;
  font-weight: bold;
}
.nav-header-mobile{
  font-size: 40px;
  font-weight: bold;
  padding-top: 18px;
  padding-left: 15px;
}
.mobile-nav{
  background-color: #fff;
  width: 100%;
}
#thank-you{
  padding-top: 100px;
}
.footer-social {
    list-style: none;
    padding-left: 0px;
}
.footer-social li {
    display: inline-block;
    padding: 20px;
}
.landing-social {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 30px;
}
.landing-social i{
  padding-right: 30px;
  font-size: 50px;
}
.lh-70{
  line-height: 70px;
}
.lh-80{
  line-height: 80px;
}
.clickable{
  cursor: pointer;
}
.landing-img{
  height: 70px;
}
.pt-20v{
  padding-top: 20vh;
}
.no-table th{
  padding-right: 40px;
}
.sub-header{
  line-height: 45px;
  font-size: 25px;
  padding-bottom: 10px;
  margin-top: 0px;
}
.sub-header-large{
  margin-top: 0px;
  padding-bottom: 10px;
  line-height: 55px;
  font-size: 30px;
}
.contribute-img{
  margin-top: 30px;
  width: 65px;
}
.accordian-header{
  font-size: 25px;
  padding: 20px;
  border: 1px solid rgba(119, 119, 119, 0.5);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
}
.accordian-container{
  padding-top: 20px;
}
span.date{
  font-size: 60px;
}
#stickyNav{
  height: 100vh;
}
.about-stuck{
  position: fixed;
}
#topbar{
  z-index: 100;
  margin-left: -15px;
  width: 100%;
  height: 80px;
  background-color: rgba(255,255,255,1);;
}
.topbar-top{
  display: none;
}
.topbar-stuck{
  position: fixed;
  top: 0;
}
.topbar-date{
  padding-right: 20px;
}
.topbar-register{
  position: relative;
  z-index: 150;
  margin-top: 15px;
  margin-right: 20px;
}
#bottombar{
  z-index: 100;
  margin-left: -15px;
  width: 100%;
  height: 80px;
  background-color: rgba(255,255,255,1);
}
.bottombar-text{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.bottombar-social-stuck{
  position: fixed;
  bottom: 0;
}
.bottombar-img{
  height: 60px;
  margin-top: 10px;
}
.github{
  font-size: 30px;
  color: #111;
  margin-left: 15px;
  margin-top: -10px;
}
.github:hover{
  color: #444;
  border-bottom: 1px solid #444;
  text-decoration: none;
}
.fa-github{
  padding-top: 10px;
}
.diligence-img{
  width: 50px;
  margin-right: 10px;
}
.contribute-details-img{
  width: 40px;
  margin-top: -10px;
}
.success-img{
  margin-top: 20px;
  margin-bottom: 20px;
}
.white-paper{
  font-size: 16px;
  color: #111;
}
.white-paper img {
  width: 30px;
  margin-right: 10px;
}
.white-paper:hover{
  color: #666;
}
.countdown-number{
  width: 60px;
  height: 90px;
  line-height: 90px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  font-size: 70px;
}
.countdown-number-stuck{
  width: 32px;
  height: 40px;
  line-height: 40px;
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.info-graph{
  height: 300px;
  width: auto;
}
.token-info-background{
  background-color: #4a4a4a;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.token-info-background h3{
  font-weight: bold;
  font-size: 25px;
}
.telegram-img{
  width: 50px;
  margin-top: -10px;
  margin-right: 15px;
}
.telegram{
  font-size: 25px;
  color: #000;;
}
.pos-bottom{
  position: absolute;
  bottom: 0;
}
.learn-more{
  position: absolute;
  width: 20vw;
  left: 40%;
  bottom: 0;
}
.consensys-landing-social{
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  padding-left: 20px;
}
.consensys-landing-img{
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 30px;
  padding-right: 20px;
}
.countdown-letter{
  font-size: 20px;
}
.lh-2{
  font-size: 50px;
  line-height: 70px;
  margin-top: 0px;
}
.mobile-nav{
  display: none;
}
.mobile-nav-hidden{
  display: none;
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 28px;
}
.bm-burger-bars {
  background: #fd8900;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-cross {
  background: #bdc3c7;
}
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-morph-shape {
  fill: #373a47;
}
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.diligence-text{
  font-size: 30px;
}
.contribute-img{
  padding-top: 80px;
}
.bm-menu-wrap{
  background-color: #fff;
}
.bm-menu{
  background-color: #fff;
}
.menu-item{
  width: 100%;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  border: 1px solid rgba(119, 119, 119, 0.5);
  border-radius: 5px;
  text-align: center;
  color: #333;
  cursor: pointer;
  font-size: 20px;
}
.mobile-burger{
  position: absolute;
  top: 0;
  right: 0;
}
.mobile-nav-pan ul{
  list-style: none;
  padding-left: 0px;
}
.mobile-nav-pan a{
  width: 100%;
}
.mobile-nav-pan-closed{ 
  width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); opacity: 0; transition: opacity 0.3s, transform 0s 0.3s; transform: translate3d(100%, 0px, 0px);
}
.mobile-nav-pan-open{

}
@media (max-width: 768px){
  th{
    font-size: 18px;
  }
  tr{
    font-size: 16px;
  }
  .contribute-img{
    padding-top: 10px;
    margin: 0 auto;
    width: 100px;
  }
  .diligence-text{
    font-size: 18px;
  }
  .mobile-nav{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .sub-header{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  .sub-header-large{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
  .countdown-number{
    width: 35px;
    height: 40px;
    line-height: 40px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 30px;
  }
  .countdown-letter{
    font-size: 14px;
  }
  .lh-2{
    font-size: 30px;
    line-height: 40px;
  }
  #sale-header{
    position: fixed;
  }
  .nav-header{
    display: none;
  }
  .github{
    font-size: 18px;
  }
  .accordian-header{
    font-size: 20px;
    padding: 10px;
  }
  .accordian-header i {
    font-size: 20px;
    padding-top: 6px;
  }
  .important-notes{
    text-align: center;
    color: #fd8900;
    font-weight: bold;
  }
  .info-graph{
    height: 200px;
    width: auto;
  }
  .contribute-mobile{
    color: #fd8900;
    text-align: center;
  }
  .token-info-background{
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .token-info-background h3{
    font-size: 20px;
  }
}