body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.min-height{
  min-height: 80vh;
}
.supply-component{
  padding-top: 50px;
  padding-left: 30px;
}
.supply-component h3 {
  margin-bottom: 5px;
}
.supply-component h3 span {
  font-size: 16px;
}
.about-list{
  padding-left: 0px;
}
.about-list li{
  font-size: 16px;
  padding-top: 5px;
  list-style: none;
}
.about-list a{
  color: #555;
  font-size: 18px;
  line-height: 30px;
}
.about-list a:hover{
  color: #111;
  text-decoration: none;
}
.contribute-step{
  padding-left: 5px;
  list-style: none;
}
.card-spacing p{
  padding: 10px 0px;
}
#contactForm input[type="text"]{
  width: 100%;
  margin: 10px 0px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#contactFormRegister{
  padding: 30px;
}
#contactFormRegister input[type="submit"]{
  margin-top: 30px
}
#contactFormRegister input[type="text"]{
  width: 100%;
  margin: 10px 0px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#contactFormRegister label p {
  display: inline;
  text-align: left;
  padding-left: 20px;
}
#contactFormRegister input[type="checkbox"]{
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  top: 5px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
#contactFormRegister input[type="checkbox"]:active, #contactFormRegister input[type="checkbox"]:active:checked  {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
#contactFormRegister input[type="checkbox"]:checked  {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
#contactFormRegister input[type="checkbox"]:checked:after  {
	content: '\2713';
	font-size: 18px;
	position: absolute;
	top: -1px;
	left: 2px;
	color: #555;
}
#userFormRegister{
  padding: 10px 20px 30px 30px;
}
#userFormRegister input[type="submit"]{
  margin-top: 30px;
}
#userFormRegister input[type="text"]{
  width: 100%;
  margin: 10px 0px;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #444;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
.sale-table td, .sale-table th{
  padding-left: 10px;
  padding-top: 20px;
}
.involved img{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.consensys-logo p {
  font-size: 20px;
  padding-top: 20px;
}
#about-nav{
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}
.mt-0{
  margin-top: 0px !important;
}
#whitepaper a{
  font-size: 20px;
}
.modal-p{
  font-size: 20px;
  padding: 30px 30px 0 30px;
}
#amount-raised{
  padding: 30px;
}
#amount-raised p{
  font-size: 13px;
  color: #666;
  line-height: 8px;
}
#amount-raised h3{
  padding-bottom: 10px;
}
#contribute{
  padding: 30px;
}
#sale-landing{
  min-height: 80vh;
}
#user-account p span {
  color: #666;
}
.input-label{
  text-align: right;
  position: relative;
  top: -50px;
  right: 40px;
  font-size: 25px;
  z-index: -10;
}
.nav-logo{
  width: 40px;
  top: 20px;
  left: 20px;
  position: absolute;
}
.nav-header{
  position: absolute;
  top: 22px;
  left: 70px;
  font-size: 25px;
  font-weight: bold;
}
.header-p{
  font-size: 20px;
}
.team-card{
  text-align: center;
}
.team-card .information{
  min-height: 200px;
}
.team-card img{
  border-radius: 5px;
  width: 130px;
  height: 130px;
  filter: grayscale(100%);
}
.team-card .information h3{
  font-size: 20px;
}
.team-card .information p{
  font-size: 14px !important;
}
#countdownForm input[type="submit"]{
  position: relative;
  width: 30%;
  margin-top: 0px;
  border-radius: 0 5px 5px 0;
  padding: 10px 0px !important;
  top: -1px;
  left: -2px;
}
#countdownForm input[type="text"]{
  width: 70%;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}
.about-card-contact{
  margin: 0 auto;
  padding: 10px 30px 30px 30px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid rgba(119, 119, 119, 0.5);
}
.about-card-contact p{
  padding-bottom: 20px;
}
#thank-you{
  padding-top: 100px;
}
#icon-container{
  padding-top: 70px;
  padding-bottom: 70px;
}
#icon-container h3{
  margin-top: 5px;
}
#news-container{
  padding-top: 70px;
  padding-bottom: 70px;
}
#news-container h2{
  font-weight: bold;
  font-size: 40px !important;
  padding-bottom: 20px;
}
.news-image{
  width: 150px;
  padding-top: 30px;
}
#header{
  padding-top: 20px;
  padding-bottom: 40px;
}
#features-container{
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgba(221, 221, 221, 0.2);
}
#sale-header .container{
  padding-top: 40px;
  padding-bottom: 20px;
}
#pre-sale{
  padding-left: 30px;
  padding-top: 15px;
}