h1{
    font-size: 55px;
}
hr {
    border-color: #c3c3c3;
    border-width: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.pt-10{
    padding-top: 10px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top: 40px;
}
.pt-50{
    padding-top: 50px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-40{
    padding-bottom: 40px;
}
.pv-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pv-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.ph-20{
    padding-left: 20px;
    padding-right: 20px;
}
.fs-20{
    font-size: 20px;
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid rgba(119, 119, 119, 0.5);
    border-radius: 5px;
}
.mv-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mv-15{
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-full{
    font-size: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
}
.btn-full-1 {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
.about-card{
    margin: 50px 0px;
    padding: 15px 35px;
    border: 1px solid rgba(119, 119, 119, 0.5);
    border-radius: 5px;
}
.about-card h2{
    padding-bottom: 10px;
}
.about-card h3{
    padding-top: 10px;
}
.about-card p {
    font-size: 18px;
    color: #555;
}
.about-card li{
    font-size: 18px;
    color: #555;
}
.borderless{
    border: transparent !important;
}
.btn-submit{
    margin-top: 10px;
    padding: 10px 50px !important;
    font-size: 16px !important;
}
.center-text{
    text-align: center;
}
.right-text{
    text-align: right;
}
.step-number{
    height: 40px;
    width: 40px;
    padding-left: 15px;
    padding-top: 7px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    background-color: #888;
}
.step-header{
    display: inline-block;
    padding-left: 20px;
}
.step-number-container{
    padding: 30px 10px;
}
.features-card{
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100%;
    height: 350px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(196, 196, 196, 0.5);
}