h1{
    font-size: 55px;
}
hr {
    border-color: #c3c3c3;
    border-width: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
}
p{
    font-size: 16px;
}
li{
    font-size: 18px;
}
td{
    font-size: 18px;
}
th{
    font-size: 20px;
}
.pt-8{
    padding-top: 8px;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top: 40px;
}
.pt-50{
    padding-top: 50px;
}
.pt-60{
    padding-top: 60px;
}
.pt-70{
    padding-top: 70px;
}
.pt-80{
    padding-top: 80px;
}
.pt-100{
    padding-top: 100px;
}
.pb-0{
    padding-bottom: 0px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-40{
    padding-bottom: 40px;
}
.pl-20{
    padding-left: 20px;
}
.pr-20{
    padding-right: 20px;
}
.pv-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pv-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pv-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.pv-40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.pv-70{
    padding-top: 70px;
    padding-bottom: 70px;
}
.ph-20{
    padding-left: 20px;
    padding-right: 20px;
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid rgba(119, 119, 119, 0.5);
    border-radius: 5px;
}
.mv-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mv-15{
    margin-top: 15px;
    margin-bottom: 15px;
}
.mv-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-full{
    font-size: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
}
.btn-full-1 {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
.about-card{
    margin: 50px 0px;
    padding: 25px 60px;
    border: 1px solid rgba(119, 119, 119, 0.5);
    border-radius: 5px;
    background-color: #fff;
}
.about-card li{
    font-size: 16px;
}
.borderless{
    border: transparent !important;
}
.btn-submit{
    margin-top: 10px;
    padding: 10px 50px !important;
    font-size: 16px !important;
}
.center-text{
    text-align: center;
}
.right-text{
    text-align: right;
}
.step-number{
    height: 40px;
    width: 40px;
    padding-left: 15px;
    padding-top: 7px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    background-color: #888;
}
.step-header{
    display: inline-block;
    padding-left: 20px;
}
.step-number-container{
    padding: 30px 10px;
}
.features-card{
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 5px;
    height: 380px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(196, 196, 196, 0.5);
}
.features-card img{
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.features-card h5{
    padding-top: 10px;
    font-weight: bold;
}
.features-card p{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-20{
    font-size: 20px;
}
.fs-25{
    font-size: 25px;
}
.fs-30{
    font-size: 30px;
}
.fs-40{
    font-size: 40px;
}
.fs-50{
    font-size: 50px;
}
.fs-60{
    font-size: 60px;
}
.fs-70{
    font-size: 70px;
}
.fs-80{
    font-size: 80px;
}
.fs-90{
    font-size: 5.5em;
}
.fw-200{
    font-weight: 200;
}
.h-10{
    min-height: 10vh;
}
.h-15{
    min-height: 15vh;
}
.h-50{
    min-height: 50vh;
}
.h-70{
    min-height: 70vh;
}
.h-85{
    min-height: 85vh;
}
.h-90{
    min-height: 90vh;
}
.h-100{
    min-height: 100vh;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.mt-0{
  margin-top: 0px !important;
}
.mt-20{
  margin-top: 20px;
}
.mb-0{
    margin-bottom: 0px !important;
}
.font-bold{
    font-weight: bold;
}
.globe{
    background-image: url('../img/Sphere.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom; 
    background-size: 70% auto;
}
.pos-absolute{
    position: absolute;
}
.mv-80{
    margin-top: 80px;
}
.mv-100{
    margin-top: 100px;
}
.mv-150{
    margin-top: 150px;
}
.inline-block{
    display: inline-block;
}
@media (min-width: 992px) and (max-width: 1200px){
    .features-card{
        height: 450px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .features-card{
        height: 350px;
    }
}
@media (max-width: 768px){
    .hide-on-xs{
        display: none !important;
    }
    .fs-50{
        font-size: 40px;
    }
}
@media (min-width: 768px){
    body{
        min-width: 1500px;
    }
    
}
@media (max-width: 500px){
    .features-card{
        height: 420px;
    }
    .fs-50{
        font-size: 40px !important;
    }
    .fs-90{
        font-size: 35px;
    }
    .fs-70{
        font-size: 30px;
    }
    .btn-register{
        padding: 10px 20px !important;
    }
}
